graphify-out
.env
*.log
research_copilot
*.exe
bin/
pdf_extractor
services/omnigraph
research_papers_dump.json
services/knowledge_engine/knowledge_engine
.venv
services/Understand-Anything/
.ua/
docs/task.md
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
github.sh
services/reranker/model